@media screen and (max-width:1200px)
{
    #navv
    {
           display:none;
    }

    #hamburger
    {
        display: flex;
    }
    
   .logo
   {
     padding-left: 20vh;
   }

    .btn
    {
        margin-top: 20vh;
    }
   .section-text
   {
     margin-top: 20vh;
   }
}