@media screen and (max-width:1200px)
{
    #navv
    {
           display:none;
    }

    #hamburger
    {
        display: flex;
    }
    
   .logo
   {
     padding-left: 20vh;
   }

    .btn
    {
        margin-top: 20vh;
    }
   .section-text
   {
     margin-top: 20vh;
   }

   .data
   {
      flex-direction: column;
      gap: 1vh;
      align-items:center;
      margin-left: -6vh;
       
   }

   .education
   {
      width: 64vh;
   }

   .experience
   {
    margin-top: -4vh;
   }

   .note{
       width: 67vh;
       margin-left: 25px;
   }
.gif-container .frontend
{
  flex-direction: column;
  gap: 5vh;
  width: 70vh;
}

.gif-container2 
{
  flex-direction: column;
  gap: 5vh;
 
}

.gif-container2 .backend 
{
  flex-direction: column;
  width: 70vh;
}

.backend li 
{
  margin-left: -8vh;
}

.frontend li{
  margin-left: -8vh;
}
  
.data-container
{
  flex-direction: column;
}

.projects
{
  flex-direction: column;
  margin-top: 100vh;
}

.work
{
   margin-top: 150vh;
   margin-bottom: -90vh;
}

.click
{
  margin-top: 60vh;
  margin-left: -1vh;
}
}