@media screen and (max-width:1200px)
{
    #navv
    {
           display:none;
    }

    #hamburger
    {
        display: flex;
    }
    
   .logo
   {
     padding-left: 20vh;
   }

    .btn
    {
        margin-top: 20vh;
    }
   .section-text
   {
     margin-top: 20vh;
   }

   .data
   {
      flex-direction: column;
      gap: 1vh;
      align-items:center;
      margin-left: -6vh;
       
   }

   .education
   {
      width: 64vh;
   }

   .experience
   {
    margin-top: -4vh;
   }

   .note{
       width: 67vh;
       margin-left: 25px;
   }
}